@import "normalize.scss";
@import "settings";
@import "foundation.scss";
@import "rrssb.css";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
}

.footer, .push {
  height: 180px;
  clear: both;
}

.header {
  margin: 4rem 0 5rem 0;
}

.resolution {
  margin: 8rem 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-weight: 600;
  font-size: 1.4rem;
}

h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #424246;
}

#goButton {
  margin-top: 2rem;
}

.button-container {
  margin-top: 3rem;
}

.button {
  background-color: #fff;
  &:hover {
    color: #fff;
    background-color: #222;
  }
}

.facebook-btn {
  background-color: #fff;
  color: #3c599b;
  border-color: #3c599b;
  &:hover {
    color: #fff;
    background-color: #3c599b;
  }
}

.twitter-btn {
  background-color: #fff;
  color: #55ACEE;
  border-color: #55ACEE;
  &:hover {
    color: #fff;
    background-color: #55ACEE;
  }
}

.toggle {
  color: #222;
  font-size: 1.5rem;
  text-decoration: underline;
}

footer {
  padding-top: 2.5rem;
  background-color: #181818;
}

#philosophie-logo {
  width: 230px;
  height: 41px;
  overflow:visible;
  polygon, path, rect {fill: #424246;}
}

// SLOT MACHINE STYLING
.machineContainer {
  padding: 0 5px;
}

.machineResult {
  color:#000;
  text-align: center;
}

.textMachine {
  height: 38px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #666;
}

#selection1 {
  width: 240px;
}
#selection2 {
  width: 240px;
}
#selection3 {
  width: 240px;
}

.slot {
  height: 38px;
  font-size: 1.4rem;
}

.comma {
  font-size: 2.5rem;
}

// PAGE-SPECIFIC STYLING
.index {
  text-align: center;
  background-image: url("../img/resolution_generator_saint.jpg");
  background-size: 100% auto;
}

.nsfw {
  text-align: center;
  background-image: url("../img/resolution_generator_evil-1.jpg");
  background-size: 100% auto;
  background-color: #ca003b;
  .button {
    background-color: #ca003b;
    &:hover {
      color: #fff;
      background-color: #222;
    }
  }

  .facebook-btn {
    background-color: #ca003b;
    color: #3c599b;
    border-color: #3c599b;
    &:hover {
      color: #fff;
      background-color: #3c599b;
    }
  }

  .twitter-btn {
    background-color: #ca003b;
    color: #55ACEE;
    border-color: #55ACEE;
    &:hover {
      color: #fff;
      background-color: #55ACEE;
    }
  }
}

// RESPONSIVE STYLING
@media #{$medium-only} {
  h1 {
    font-size: 2.5rem;
  }

}

@media #{$small-only} {
  h1 {
    font-size: 2rem;
  }

  .header {
    margin: 2rem 0 3rem 0;
  }

  .resolution {
    margin: 4rem 0;
  }
}
