@import "normalize.scss";
@import "settings";
@import "foundation.scss";

$primary-color: #222;       // black
$secondary-color: #e22d60;  // salmon
$secondary-alt: #8C193A;    // dark salmon

html, body {
  height: 100%;
}

body {
  text-align:center;
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: center top 20%;
  background-attachment:fixed;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -140px;
}

.footer, .push {
  height: 140px;
}

.header {
  margin: 4rem 0 5rem 0;
}

.resolution {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  a {
    transition: color 0.5s ease;
    text-decoration: underline;
  }
  a:hover {
    color: $secondary-color;
  }
}

.toggle {
  color: #888;
  text-decoration: underline;
}

h4 {
  font-weight: 600;
  font-size: 1.4rem;
}

h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #424246;
}

#goButton {
  margin-top: 2rem;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  &:hover {
    color: #fff;
    background-color: $primary-color;
  }
}

.social-container {
  margin-bottom: 2rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 1.5rem;
  &:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}

footer {
  #philosophie-logo {
    width: 180px;
    height: 32px;
    overflow:visible;
    polygon, path, rect {fill: #424246;}
    &:hover {
      polygon, path, rect {fill: $secondary-color;}
    }
  }
}

// SLOT MACHINE STYLING
.machineContainer {
  padding: 0 5px;
}

.machineResult {
  color:#000;
  text-align: center;
}

.textMachine {
  height: 38px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid;
  width: 240px;
}

.slot {
  height: 38px;
  font-size: 1.5rem;
}

// PAGE-SPECIFIC STYLING
.index {
  background-image: url("../img/logo.svg");
}

.for-funsies {
  background-color: $primary-color;
  background-image: url("../img/logo-for-funsies.svg");
  color: #fff;
  h1, h4, a {
    color: #fff;
  }
  .toggle {
    color: #888;
  }
  .button {
    background-color: rgba(34, 34, 34, 0.3);
    border-color: #fff;
    color: #fff;
    &:hover {
      color: $primary-color;
      background-color: #fff;
    }
  }
}

.for-work {
  background-color: #f0f0f0;
  background-image: url("../img/logo-for-work.svg");
  color: $secondary-color;
  h1, h4, a {
    color: $secondary-color;
  }
  a:hover {
    color: $secondary-alt;
  }
  .toggle {
    color: $secondary-alt;
  }
  .button {
    background-color: rgba(250, 250, 250, 0.3);
    border-color: $secondary-color;
    color: $secondary-color;
    &:hover {
      color: #fff;
      background-color: $secondary-color;
    }
  }
  .textMachine {
    border-color: $secondary-alt;
  }
}

// RESPONSIVE STYLING
@media #{$medium-only} {
  body {
    background-size: 600px 600px;
  }

  .header {
    margin: 5rem 0 4rem 0;
  }

  .resolution {
    margin: 6rem 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  .textMachine {
    width: 230px;
  }
}

@media #{$small-only} {
  body {
    background-size: 250px 250px;
    background-position: center top;
  }

  h1 {
    font-size: 1.8rem;
  }

  .header {
    margin: 2.5rem 0 2rem 0;
  }

  .resolution {
    margin: 2rem 0 1rem 0;
  }

  .textMachine {
    width: 310px;
  }
}
