@import "normalize.scss";
@import "settings";
@import "foundation.scss";

* {
  margin: 0;
}

html, body {
  height: 100%;
  text-align:center;
}

body {
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
}

.footer, .push {
  height: 180px;
  clear: both;
}

.header {
  margin: 4rem 0 5rem 0;
}

.resolution {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.toggle {
  color: #555;
  a {
    text-decoration: underline;
  }
}

h4 {
  font-weight: 600;
  font-size: 1.4rem;
}

h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #424246;
}

#goButton {
  margin-top: 2rem;
}

.button {
  background-color: #fff;
  &:hover {
    color: #fff;
    background-color: #222;
  }
}

// #facebook-btn {
//   background-color: #fff;
//   color: #3c599b;
//   border-color: #3c599b;
//   &:hover {
//     color: #fff;
//     background-color: #3c599b;
//   }
// }

// #twitter-btn {
//   background-color: #fff;
//   color: #55ACEE;
//   border-color: #55ACEE;
//   &:hover {
//     color: #fff;
//     background-color: #55ACEE;
//   }
// }

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  &:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}

footer {
  padding-top: 2.5rem;
  background-color: #181818;
}

#philosophie-logo {
  width: 230px;
  height: 41px;
  overflow:visible;
  polygon, path, rect {fill: #424246;}
}

// SLOT MACHINE STYLING
.machineContainer {
  padding: 0 5px;
}

.machineResult {
  color:#000;
  text-align: center;
}

.textMachine {
  height: 38px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #666;
}

#selection1 {
  width: 240px;
}
#selection2 {
  width: 240px;
}
#selection3 {
  width: 240px;
}

.slot {
  height: 38px;
  font-size: 1.4rem;
}

.comma {
  font-size: 2.5rem;
}

// PAGE-SPECIFIC STYLING
.index {
  background-image: url("../img/logo.svg");
}

.for-funsies {
  background-color: #222;
  background-image: url("../img/logo-for-funsies.svg");
  color: #fff;
  h1, h4, a {
    color: #fff;
  }
  .toggle {
    color: #888;
  }
}

.for-work {
  background-color: #fafafa;
  background-image: url("../img/logo-for-work.svg");
  color: #e22d60;
  h1, h4, a {
    color: #e22d60;
  }
  .toggle {
    color: #8C193A;
  }
}

// RESPONSIVE STYLING
@media #{$medium-only} {
  body {
    background-size: 600px 600px;
  }

  h1 {
    font-size: 2.5rem;
  }

}

@media #{$small-only} {
  body {
    background-size: 320px 320px;
  }

  h1 {
    font-size: 2rem;
  }

  .header {
    margin: 2rem 0 3rem 0;
  }

  .resolution {
    margin: 4rem 0;
  }
}
