<div class="slot">sensually</div>
<div class="slot">super hard</div>
<div class="slot">all day erry day</div>
<div class="slot">in your face</div>
<div class="slot">so deep so deep</div>
<div class="slot">with da swiftness</div>
<div class="slot">fo real</div>
<div class="slot">with da realness</div>
<div class="slot">at the same time</div>
<div class="slot">ostentatiously</div>
<div class="slot">provocatively</div>
<div class="slot">like Axl Rose</div>
<div class="slot">the way you like it</div>
<div class="slot">painstakingly</div>
<div class="slot">deviously</div>
<div class="slot">madly</div>
<div class="slot">lovingly</div>
<div class="slot">fo sho</div>
<div class="slot">in my dreams</div>
<div class="slot">in the basement</div>
<div class="slot">with Justin Bieber</div>
<div class="slot">forever</div>
<div class="slot">at In n Out</div>
<div class="slot">on my boils</div>
<div class="slot">on my bed</div>
<div class="slot">precisely</div>
<div class="slot">in a dark room</div>
<div class="slot">in the closet</div>
<div class="slot">with my BFF</div>
<div class="slot">real quick</div>
<div class="slot">deeply</div>
<div class="slot">every hour</div>
<div class="slot">into gold</div>
<div class="slot">on a bus</div>
<div class="slot">with Jah</div>
<div class="slot">in a car</div>
<div class="slot">with gusto</div>
<div class="slot">so far away</div>
<div class="slot">in Hell</div>
<div class="slot">fearless</div>
<div class="slot">in your dreams</div>
<div class="slot">in my dreams</div>
<div class="slot">until the end</div>
<div class="slot">until i'm hungry</div>
<div class="slot">like it's 1999</div>
<div class="slot">at your mom's house</div>
<div class="slot">with Samwise Gamgee</div>
<div class="slot">for one second</div>
<div class="slot">in Lannister Castle</div>
<div class="slot">while rubbing on lotion</div>
<div class="slot">with my friend Gunther</div>
<div class="slot">with Photoshop</div>
<div class="slot">with chopsticks</div>
<div class="slot">watching The Simpsons</div>
<div class="slot">while driving your car</div>
<div class="slot">in your dreams</div>
<div class="slot">while using a bidet</div>
<div class="slot">in a cave</div>
<div class="slot">headspinning</div>
<div class="slot">with a silver spoon</div>
<div class="slot">on every surface</div>
<div class="slot">with a Chihuahua</div>
<div class="slot">as Justin Bieber's soul</div>
<div class="slot">on a retiree cruise</div>
<div class="slot">in my sleep</div>
<div class="slot">in a speedo</div>
<div class="slot">with naked Kim Jong Un</div>
<div class="slot">on the throne</div>
<div class="slot">with Jesus on my side</div>
<div class="slot">wearing a sweater</div>
<div class="slot">with a Batman voice</div>
<div class="slot">in Venice beach</div>
<div class="slot">until Mom gets home</div>
<div class="slot">for 24 straight hours</div>
<div class="slot">before y'all</div>
<div class="slot">for $1,000,000</div>
<div class="slot">like Bruce Jenner</div>
<div class="slot">as a lumbersexual</div>
<div class="slot">singing Boys Don't Cry</div>
<div class="slot">while crying to sleep</div>