<footer id="footer">
  <div class="row">
    <div class="small-12 small-centered columns">
      <div id="logo">
        <svg version="1.1" id="philosophie-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 253.609 44.524" enable-background="new 0 0 253.609 44.524" xml:space="preserve" aria-label="Philosophie Logo">
        +<title>Philosophie Logo</title>
        +<desc>Philosophie is a digital product consultancy in LA and NYC.</desc>
        <path d="M54.693,26.505v4.443h-4.946v-17.37h8.285c4.877,0,6.38,1.87,6.38,5.178v2.538
            c0,3.375-1.804,5.211-6.613,5.211H54.693z M57.831,17.553h-3.137v5.011h3.137c1.236,0,1.704-0.502,1.704-1.504v-2.07
            C59.534,18.021,59.067,17.553,57.831,17.553"></path>
        <polygon points="79.656,24.368 74.079,24.368 74.079,30.949 69.136,30.949 69.136,13.579 74.079,13.579
            74.079,20.094 79.656,20.094 79.656,13.579 84.601,13.579 84.601,30.949 79.656,30.949 "></polygon>
        <rect x="90.327" y="13.579" width="4.941" height="17.37"></rect>
        <polygon points="101.002,13.579 105.945,13.579 105.945,26.673 113.225,26.673 113.225,30.949 101.002,30.949 "></polygon>
        <path d="M117.376,25.636V18.89c0-3.005,2.202-5.645,7.648-5.645c5.445,0,7.651,2.639,7.651,5.645v6.746
            c0,3.009-2.206,5.647-7.651,5.647C119.578,31.282,117.376,28.645,117.376,25.636 M125.025,17.521c-1.872,0-2.706,0.734-2.706,1.971
            v5.544c0,1.235,0.834,1.971,2.706,1.971c1.87,0,2.704-0.736,2.704-1.971v-5.544C127.729,18.254,126.894,17.521,125.025,17.521"></path>
        <path d="M137.266,30.079l0.804-3.673c1.504,0.436,3.707,0.835,5.546,0.835c1.836,0,2.202-0.368,2.202-1.371
            c0-1.101-0.197-1.368-3.339-1.87c-4.543-0.734-5.01-2.505-5.01-5.678c0-3.807,2.305-5.077,6.88-5.077
            c1.672,0,4.276,0.266,5.948,0.735l-0.569,3.908c-1.939-0.4-3.773-0.6-5.344-0.6c-1.603,0-1.971,0.233-1.971,1.201
            c0,1.17,0.166,1.337,3.141,1.871c4.877,0.868,5.211,2.005,5.211,5.276c0,3.741-1.339,5.647-7.216,5.647
            C141.541,31.283,139.137,30.882,137.266,30.079"></path>
        <path d="M155.463,25.636V18.89c0-3.005,2.204-5.645,7.649-5.645c5.447,0,7.65,2.639,7.65,5.645v6.746
            c0,3.009-2.203,5.647-7.65,5.647C157.667,31.282,155.463,28.645,155.463,25.636 M163.112,17.521c-1.87,0-2.702,0.734-2.702,1.971
            v5.544c0,1.235,0.833,1.971,2.702,1.971c1.873,0,2.706-0.736,2.706-1.971v-5.544C165.818,18.254,164.985,17.521,163.112,17.521"></path>
        <path d="M180.765,26.505v4.443h-4.946v-17.37h8.286c4.876,0,6.379,1.87,6.379,5.178v2.538
            c0,3.375-1.804,5.211-6.613,5.211H180.765z M183.904,17.553h-3.139v5.011h3.139c1.234,0,1.703-0.502,1.703-1.504v-2.07
            C185.607,18.021,185.139,17.553,183.904,17.553"></path>
        <polygon points="205.729,24.368 200.15,24.368 200.15,30.949 195.21,30.949 195.21,13.579 200.15,13.579
            200.15,20.094 205.729,20.094 205.729,13.579 210.674,13.579 210.674,30.949 205.729,30.949 "></polygon>
        <rect x="216.4" y="13.579" width="4.943" height="17.37"></rect>
        <polygon points="227.074,13.579 239.633,13.579 239.633,17.52 232.019,17.52 232.019,20.16 239.032,20.16
            239.032,24.1 232.019,24.1 232.019,27.008 239.633,27.008 239.633,30.949 227.074,30.949 "></polygon>
        <polygon class="mark" points="0.398,23.233 0.004,23.233 0.004,44.524 17.475,23.233 "></polygon>
        <g>
            <path class="mark" d="M20.328,8.506c6.075,0,11.092,4.586,11.786,10.477h8.513C39.716,7.824,31.038-0.188,20.328,0.003
                C9.562,0.003,0.721,8.396,0,18.983h0.004h0.394H8.54C9.234,13.092,14.254,8.506,20.328,8.506z"></path>
            <path class="mark" d="M31.842,23.234c-1.284,5.171-5.952,9.021-11.514,9.021c-1.454,0-2.854-0.267-4.143-0.749l-0.391,0.479
                l-5.174,6.306c2.888,1.571,6.197,2.465,9.708,2.465c10.267,0,18.992-7.634,20.227-17.521H31.842z"></path>
        </g>
        </svg>
      </div>
      <h5>&copy; <%= Date.today.year.to_s %> all work is an act of philosophie</h5>
    </div>
  </div>
</footer>
