<div class="row">
  <div class="small-12 small-centered columns button-container">
    <button class="button radius" id="facebook-btn">Share on Facebook</button>
    <a href="http://twitter.com/share" class="popup" id="shareTwitter"><button class="button radius" id="twitter-btn">Share on Twitter</button></a>
  </div>
</div>
