<div class="row">
  <div class="small-12 columns button-container">
    <button class="button radius facebook-btn">Share on Facebook</button>
    <button class="button radius twitter-btn">Share on Twitter</button>
  </div>
</div>
