<div class="row">
  <div class="small-12 small-centered columns social-container">
   <a href="#" title="Share on Facebook" id="socialFacebook"><%= image_tag "img/facebook.svg", class:"social-icon" %></a>
    <a href="#" title="Share on Twitter" id="socialTwitter"><%= image_tag "img/twitter.svg", class:"social-icon" %></a>
  </div>
</div>
