<div class="slot">javascript</div>
<div class="slot">HTML5</div>
<div class="slot">stakeholders</div>
<div class="slot">developers</div>
<div class="slot">accounts</div>
<div class="slot">MVP</div>
<div class="slot">user acquisition</div>
<div class="slot">a new language</div>
<div class="slot">friends</div>
<div class="slot">family</div>
<div class="slot">partners</div>
<div class="slot">colleagues</div>
<div class="slot">new business</div>
<div class="slot">insights</div>
<div class="slot">networking events</div>
<div class="slot">user research</div>
<div class="slot">the prototype</div>
<div class="slot">the test suite</div>
<div class="slot">the code</div>
<div class="slot">wireframes</div>
<div class="slot">iterations</div>
<div class="slot">moodboards</div>
<div class="slot">business model canvas</div>
<div class="slot">sprint review meetings</div>
<div class="slot">daily standups</div>
<div class="slot">weekly retros</div>
<div class="slot">user stories</div>
<div class="slot">user personas</div>
<div class="slot">$1,000,000 in revenue</div>
<div class="slot">contracts</div>
<div class="slot">blog</div>
<div class="slot">spreadsheets</div>
<div class="slot">$10,000,000 in revenue</div>
<div class="slot">style guides</div>
<div class="slot">open sources</div>
<div class="slot">Ruby On Rails</div>
<div class="slot">customer satisfaction</div>
<div class="slot">burn rate</div>
<div class="slot">node</div>
<div class="slot">a web app</div>
<div class="slot">an android app</div>
<div class="slot">customer LTV</div>
<div class="slot">an iOS app</div>
<div class="slot">Oculus Rift</div>
<div class="slot">KPIs</div>
<div class="slot">functional programming</div>
<div class="slot">OO programming</div>
<div class="slot">mobile development</div>
<div class="slot">dev ops</div>
<div class="slot">decor</div>
<div class="slot">SWIFT</div>
<div class="slot">iOS</div>
<div class="slot">$10,000,000 in funding</div>
<div class="slot">an angel investor</div>
<div class="slot">$1,000,000 in funding</div>
<div class="slot">a new business unit</div>
<div class="slot">a CEO</div>
<div class="slot">a CTO</div>
<div class="slot">clean code</div>
<div class="slot">powerful experiences</div>
<div class="slot">interactions</div>
<div class="slot">new products</div>
<div class="slot">bold ideas</div>
<div class="slot">a new path forward</div>
<div class="slot">an IRA</div>
<div class="slot">mutual funds</div>
<div class="slot">young designers</div>
<div class="slot">young developers</div>
<div class="slot">seed funding</div>
<div class="slot">a hackathon</div>
<div class="slot">the users</div>
<div class="slot">HTML</div>
<div class="slot">CSS</div>
<div class="slot">SaaS</div>
<div class="slot">client dinners</div>
<div class="slot">client meetings</div>
<div class="slot">design thinking</div>
<div class="slot">sprint planning</div>
<div class="slot">Pivotal Tracker</div>
<div class="slot">Google</div>
