<div class="slot">a bag of Doritos</div>
<div class="slot">dryer lint</div>
<div class="slot">a dying cat's rage</div>
<div class="slot">dirty tighty whities</div>
<div class="slot">screaming bunnies</div>
<div class="slot">a basket of puppies</div>
<div class="slot">used motor oil</div>
<div class="slot">regretful tattoos</div>
<div class="slot">unfortunate decisions</div>
<div class="slot">candied human remains</div>
<div class="slot">foot magma</div>
<div class="slot">Stifler's mom</div>
<div class="slot">boozy coffee</div>
<div class="slot">crotchless overalls</div>
<div class="slot">Colt 45 backwash</div>
<div class="slot">toe jam</div>
<div class="slot">hobbits</div>
<div class="slot">reddit</div>
<div class="slot">Miley Cyrus</div>
<div class="slot">7lb 8oz baby Jesus</div>
<div class="slot">toothpaste</div>
<div class="slot">boogers</div>
<div class="slot">claustrophobia</div>
<div class="slot">recently removed tumor</div>
<div class="slot">my cheeks</div>
<div class="slot">a stroke victim</div>
<div class="slot">cholera</div>
<div class="slot">r/spacedicks</div>
<div class="slot">an Elvis impersonator</div>
<div class="slot">a Bigfoot sighting</div>
<div class="slot">harlem shake</div>
<div class="slot">Bilbo Baggins</div>
<div class="slot">my rent</div>
<div class="slot">your rent</div>
<div class="slot">feline AIDS</div>
<div class="slot">a child's innocence</div>
<div class="slot">0 to 100</div>
<div class="slot">a ratchet</div>
<div class="slot">yummy cupcakes</div>
<div class="slot">chinese dominoes</div>
<div class="slot">a baguette</div>
<div class="slot">the numbers</div>
<div class="slot">down there</div>
<div class="slot">my hair</div>
<div class="slot">my bikini area</div>
<div class="slot">the pits</div>
<div class="slot">yo momma</div>
<div class="slot">Hansel and Gretel</div>
<div class="slot">Zoolander 2</div>
<div class="slot">your friend Billy Zane</div>
<div class="slot">subprime loans</div>
<div class="slot">student loans</div>
<div class="slot">my kids</div>
<div class="slot">world hunger</div>
<div class="slot">Zac Efron</div>
<div class="slot">a gat</div>
<div class="slot">a murder of crows</div>
<div class="slot">a flock of seagulls</div>
<div class="slot">Bananarama</div>
<div class="slot">a young man</div>
<div class="slot">down for what</div>
<div class="slot">Harry Potter</div>
<div class="slot">Tinder app</div>
<div class="slot">like a wolf</div>
<div class="slot">in XXL Spanx®</div>
<div class="slot">a suit</div>
<div class="slot">soiled adult diapers</div>
<div class="slot">Biggie Biggie Biggie</div>
<div class="slot">civil unrest</div>
<div class="slot">my shameful weakness</div>
<div class="slot">my darkest secret</div>
<div class="slot">my sexiest advantage</div>
<div class="slot">bad financial advice</div>
<div class="slot">a sippy cup</div>
<div class="slot">an alcoholic unicorn</div>
<div class="slot">geometry homework</div>
<div class="slot">the Virgin Mary</div>
<div class="slot">a drug dealer's pager </div>
<div class="slot">crazy drugs</div>
<div class="slot">sad grilled cheese </div>
