<div class="slot">a healthy lifestyle</div>
<div class="slot">junk food thoughts</div>
<div class="slot">money in the bank</div>
<div class="slot">a trip to Hawaii</div>
<div class="slot">more healthy food</div>
<div class="slot">...um... soylent</div>
<div class="slot">a volunteer project</div>
<div class="slot">a new language</div>
<div class="slot">my friends</div>
<div class="slot">my family</div>
<div class="slot">lunch plans w/ my BFF</div>
<div class="slot">networking events</div>
<div class="slot">a better job</div>
<div class="slot">a memoir</div>
<div class="slot">new coffee beans</div>
<div class="slot">an old bad habit</div>
<div class="slot">more sleep</div>
<div class="slot">with my other half</div>
<div class="slot">how to do magic</div>
<div class="slot">pink hair dye</div>
<div class="slot">temporary tattoos</div>
<div class="slot">a duet with Tony Benett</div>
<div class="slot">$1,000,000 in prizes</div>
<div class="slot">a blog</div>
<div class="slot">$10,000,000 at Vegas</div>
<div class="slot">a new couch</div>
<div class="slot">a sword fight with Zoro</div>
<div class="slot">Kung Pao Chicken</div>
<div class="slot">that messy closet</div>
<div class="slot">unicycle</div>
<div class="slot">trampoline</div>
<div class="slot">a giant tatttoo</div>
<div class="slot">Cirque du Soleil </div>
<div class="slot">a new hairstyle</div>
<div class="slot">a new baby</div>
<div class="slot">a growing family</div>
<div class="slot">the house</div>
<div class="slot">2 miles</div>
<div class="slot">10 miles</div>
<div class="slot">yoga</div>
<div class="slot">weights</div>
<div class="slot">Pilates</div>
<div class="slot">a new home</div>
<div class="slot">a beachfront condo</div>
<div class="slot">a loft downtown</div>
<div class="slot">a puppy</div>
<div class="slot">a kitten</div>
<div class="slot">a new Porsche</div>
<div class="slot">dinner at Spago</div>
<div class="slot">dinner at Hatfield’s</div>
<div class="slot">a new Aston Martin</div>
<div class="slot">a life transformation</div>
<div class="slot">interactions</div>
<div class="slot">new products</div>
<div class="slot">bold ideas</div>
<div class="slot">better habits</div>
<div class="slot">an IRA</div>
<div class="slot">mutual funds</div>
<div class="slot">a book on cleansing</div>
<div class="slot">my sister’s wedding</div>
<div class="slot">garden vegetables</div>
<div class="slot">my own beer</div>
<div class="slot">Mandarin</div>
<div class="slot">Spanish</div>
<div class="slot">French</div>
<div class="slot">Italian</div>
<div class="slot">about quilting</div>
<div class="slot">how to cook</div>
<div class="slot">how to box</div>
<div class="slot">Crossfit</div>
<div class="slot">a leather jacket</div>
<div class="slot">new boots</div>
<div class="slot">50 push ups a day</div>
<div class="slot">my food waste</div>
<div class="slot">Big Macs</div>
<div class="slot">goat milk kefir</div>
<div class="slot">early in the day</div>
<div class="slot">a better approach</div>
<div class="slot">students</div>
<div class="slot">a meditation practice</div>
