<div class="slot">steal</div>
<div class="slot">dominate</div>
<div class="slot">share</div>
<div class="slot">love</div>
<div class="slot">win</div>
<div class="slot">attain</div>
<div class="slot">accomplish</div>
<div class="slot">defeat</div>
<div class="slot">destroy</div>
<div class="slot">craft</div>
<div class="slot">cuddle</div>
<div class="slot">kill</div>
<div class="slot">crush</div>
<div class="slot">bite</div>
<div class="slot">trash</div>
<div class="slot">wax</div>
<div class="slot">strip</div>
<div class="slot">eat</div>
<div class="slot">devour</div>
<div class="slot">drink</div>
<div class="slot">chew</div>
<div class="slot">squat</div>
<div class="slot">spit</div>
<div class="slot">lick </div>
<div class="slot">rub</div>
<div class="slot">canoodle</div>
<div class="slot">wreck</div>
<div class="slot">crump</div>
<div class="slot">hump</div>
<div class="slot">grind</div>
<div class="slot">eradicate</div>
<div class="slot">throw</div>
<div class="slot">kick</div>
<div class="slot">strangle</div>
<div class="slot">stab</div>
<div class="slot">pay</div>
<div class="slot">strip</div>
<div class="slot">waterboard</div>
<div class="slot">kiss</div>
<div class="slot">abduct</div>
<div class="slot">torture</div>
<div class="slot">spoon</div>
<div class="slot">blend</div>
<div class="slot">dream</div>
<div class="slot">whip</div>
<div class="slot">tweet</div>
<div class="slot">page</div>
<div class="slot">snort</div>
<div class="slot">shit</div>
<div class="slot">drive with</div>
<div class="slot">bike with</div>
<div class="slot">cannibalize</div>
<div class="slot">say no to</div>
<div class="slot">say yes to</div>
<div class="slot">pop</div>
<div class="slot">model</div>
<div class="slot">shoot</div>
<div class="slot">deliver</div>
<div class="slot">turn</div>
<div class="slot">mail</div>
<div class="slot">ship</div>
<div class="slot">shit</div>
<div class="slot">swipe</div>
<div class="slot">flick</div>
<div class="slot">hunger for</div>
<div class="slot">ogle</div>
<div class="slot">take</div>
<div class="slot">protest</div>
<div class="slot">lubricate</div>
<div class="slot">rub</div>
<div class="slot">flap</div>
<div class="slot">flush</div>
<div class="slot">strike</div>
<div class="slot">bump n grind</div>
<div class="slot">hammer</div>
<div class="slot">google</div>
<div class="slot">avenge</div>
<div class="slot">shake</div>
<div class="slot">collapse</div>
<div class="slot">shuffle</div>
